.app-delay-500 {
  animation-delay: 500ms;
}
.app-delay-1000 {
  animation-delay: 1s;
}
/* fade in */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.app-fade {
  animation: fadein 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
/* welcome-bg */
@keyframes zoomOut {
  0% {
    background-size: 175%;
  }
  100% {
    background-size: 150%;
  }
}

.app-welcome-background {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  border-radius: 50px;
  background-size: cover;
}
@media screen and (min-width: 1400px) {
  .app-welcome-background {
    animation: zoomOut 20s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}
/* Levitate */
@keyframes levitate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-16px);
    @apply shadow-2xl;
  }
}

.app-levitate {
  transition: all 500ms;
  transform: translateY(0);
}
.app-levitate:hover {
  animation: levitate 500ms ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
