@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #121210;
  font-family: "Montserrat", sans-serif;
  @apply font-medium;
}
* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app-title {
  font-weight: 600;
  font-size: 24px;
}

.app-text {
  @apply font-medium;
}

.card-shadow {
  box-shadow: 0 -1px 20px 0 rgb(165, 165, 165, 0.2);
}

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 600px) {
  .products-container {
    grid-template-columns: repeat(2, minmax(200px, 427px));
  }
}

@media screen and (min-width: 900px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(200px, 427px));
  }
}
