@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #121210;
  font-family: "Montserrat", sans-serif;
  padding: 0 32px;
  @apply font-medium;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app-title {
  font-weight: 600;
  font-size: 24px;
}

.app-text {
  @apply font-medium;
}
