@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #121210;
  font-family: "Montserrat", sans-serif;
  padding: 0 32px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app-title {
  font-weight: 600;
  font-size: 24px;
}

.app-text {
  @apply font-medium;
}

.app-fade{
  animation: fadein 1s;

}
.app-fade-2{
  animation: fadein 1s;
  animation-delay: 500ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fadein{
  from{
    opacity: 0;
    transform: translateX(-30px);
    
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}